.stargazer-profile {
    margin-top: 10px;
    padding-bottom: 15px;
    
    border-spacing: 15px;
    border-bottom: 1px rgb(229, 229, 229) solid;
    
    img.stargazer-avatar {
        border-radius: 3px;
    }
}
