.preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #f1f1f1;
    z-index: 999999;
}

.cssload-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 19px;
    display: block;
    width: 3.75em;
    height: 4.25em;
    margin-left: -1.875em;
    margin-top: -2.125em;
    transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    transform: rotateY(180deg) rotateZ(-60deg);
    -o-transform: rotateY(180deg) rotateZ(-60deg);
    -ms-transform: rotateY(180deg) rotateZ(-60deg);
    -webkit-transform: rotateY(180deg) rotateZ(-60deg);
    -moz-transform: rotateY(180deg) rotateZ(-60deg);
}

.cssload-preloader .cssload-slice {
    border-top: 1.125em solid transparent;
    border-right: none;
    border-bottom: 1em solid transparent;
    border-left: 1.875em solid $primary-color;
    position: absolute;
    top: 0px;
    left: 50%;
    transform-origin: left bottom;
    -o-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    border-radius: 3px 3px 0 0;
}

@for $i from 1 through 6 {
    .cssload-preloader .cssload-slice:nth-child(#{$i}) {
        transform: rotateZ(#{$i * 60}deg) rotateY(0deg) rotateX(0);
        -o-transform: rotateZ(#{$i * 60}deg) rotateY(0deg) rotateX(0);
        -ms-transform: rotateZ(#{$i * 60}deg) rotateY(0deg) rotateX(0);
        -webkit-transform: rotateZ(#{$i * 60}deg) rotateY(0deg) rotateX(0);
        -moz-transform: rotateZ(#{$i * 60}deg) rotateY(0deg) rotateX(0);
        animation: 0.17s linear #{1.03 - 0.09 * $i}s preload-hide-#{$i} both 1;
        -o-animation: 0.17s linear #{1.03 - 0.09 * $i}s preload-hide-#{$i} both 1;
        -ms-animation: 0.17s linear #{1.03 - 0.09 * $i}s preload-hide-#{$i} both 1;
        -webkit-animation: 0.17s linear #{1.03 - 0.09 * $i}s preload-hide-#{$i} both 1;
        -moz-animation: 0.17s linear #{1.03 - 0.09 * $i}s preload-hide-#{$i} both 1;
    }
}

.cssload-preloader.cssload-loading {
    animation: 2.3s preload-flip steps(2) infinite both;
    -o-animation: 2.3s preload-flip steps(2) infinite both;
    -ms-animation: 2.3s preload-flip steps(2) infinite both;
    -webkit-animation: 2.3s preload-flip steps(2) infinite both;
    -moz-animation: 2.3s preload-flip steps(2) infinite both;
}

@for $i from 1 through 6 {
    .cssload-preloader.cssload-loading .cssload-slice:nth-child(#{$i}) {
        transform: rotateZ(#{$i * 60}deg) rotateY(90deg) rotateX(0);
        -o-transform: rotateZ(#{$i * 60}deg) rotateY(90deg) rotateX(0);
        -ms-transform: rotateZ(#{$i * 60}deg) rotateY(90deg) rotateX(0);
        -webkit-transform: rotateZ(#{$i * 60}deg) rotateY(90deg) rotateX(0);
        -moz-transform: rotateZ(#{$i * 60}deg) rotateY(90deg) rotateX(0);
        animation: 2.3s preload-cycle-#{$i} linear infinite both;
        -o-animation: 2.3s preload-cycle-#{$i} linear infinite both;
        -ms-animation: 2.3s preload-cycle-#{$i} linear infinite both;
        -webkit-animation: 2.3s preload-cycle-#{$i} linear infinite both;
        -moz-animation: 2.3s preload-cycle-#{$i} linear infinite both;
    }
}

@for $i from 1 through 6 {
    @keyframes preload-show-#{$i} {
        from {
            transform: rotateZ(#{60 * $i}deg) rotateY(-90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-o-keyframes preload-show-#{$i} {
        from {
            -o-transform: rotateZ(#{60 * $i}deg) rotateY(-90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-ms-keyframes preload-show-#{$i} {
        from {
            -ms-transform: rotateZ(#{60 * $i}deg) rotateY(-90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-webkit-keyframes preload-show-#{$i} {
        from {
            -webkit-transform: rotateZ(#{60 * $i}deg) rotateY(-90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-moz-keyframes preload-show-#{$i} {
        from {
            -moz-transform: rotateZ(#{60 * $i}deg) rotateY(-90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @keyframes preload-hide-#{$i} {
        to {
            transform: rotateZ(#{60 * $i}deg) rotateY(-90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-o-keyframes preload-hide-#{$i} {
        to {
            -o-transform: rotateZ(#{60 * $i}deg) rotateY(-90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-ms-keyframes preload-hide-#{$i} {
        to {
            -ms-transform: rotateZ(#{60 * $i}deg) rotateY(-90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-webkit-keyframes preload-hide-#{$i} {
        to {
            -webkit-transform: rotateZ(#{60 * $i}deg) rotateY(-90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-moz-keyframes preload-hide-#{$i} {
        to {
            -moz-transform: rotateZ(#{60 * $i}deg) rotateY(-90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @keyframes preload-cycle-#{$i} {
        #{$i * 5}% {
            transform: rotateZ(#{60 * $i}deg) rotateY(90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
        #{$i * 5 + 5}%,
        #{80 - 5 * $i}% {
            transform: rotateZ(#{60 * $i}deg) rotateY(0) rotateX(0deg);
            border-left-color: $primary-color;
        }
        #{85 - 5 * $i}%,
        100% {
            transform: rotateZ(#{60 * $i}deg) rotateY(90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-o-keyframes preload-cycle-#{$i} {
        #{$i * 5}% {
            -o-transform: rotateZ(#{60 * $i}deg) rotateY(90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
        #{$i * 5 + 5}%,
        #{80 - 5 * $i}% {
            -o-transform: rotateZ(#{60 * $i}deg) rotateY(0) rotateX(0deg);
            border-left-color: $primary-color;
        }
        #{85 - 5 * $i}%,
        100% {
            -o-transform: rotateZ(#{60 * $i}deg) rotateY(90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-ms-keyframes preload-cycle-#{$i} {
        #{$i * 5}% {
            -ms-transform: rotateZ(#{60 * $i}deg) rotateY(90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
        #{$i * 5 + 5}%,
        #{80 - 5 * $i}% {
            -ms-transform: rotateZ(#{60 * $i}deg) rotateY(0) rotateX(0deg);
            border-left-color: $primary-color;
        }
        #{85 - 5 * $i}%,
        100% {
            -ms-transform: rotateZ(#{60 * $i}deg) rotateY(90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-webkit-keyframes preload-cycle-#{$i} {
        #{$i * 5}% {
            -webkit-transform: rotateZ(#{60 * $i}deg) rotateY(90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
        #{$i * 5 + 5}%,
        #{80 - 5 * $i}% {
            -webkit-transform: rotateZ(#{60 * $i}deg) rotateY(0) rotateX(0deg);
            border-left-color: $primary-color;
        }
        #{85 - 5 * $i}%,
        100% {
            -webkit-transform: rotateZ(#{60 * $i}deg) rotateY(90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
    
    @-moz-keyframes preload-cycle-#{$i} {
        #{$i * 5}% {
            -moz-transform: rotateZ(#{60 * $i}deg) rotateY(90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
        #{$i * 5 + 5}%,
        #{80 - 5 * $i}% {
            -moz-transform: rotateZ(#{60 * $i}deg) rotateY(0) rotateX(0deg);
            border-left-color: $primary-color;
        }
        #{85 - 5 * $i}%,
        100% {
            -moz-transform: rotateZ(#{60 * $i}deg) rotateY(90deg) rotateX(0deg);
            border-left-color: lighten($primary-color, 10%);
        }
    }
}

@keyframes preload-flip {
    0% {
        transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        transform: rotateY(360deg) rotateZ(-60deg);
    }
}

@-o-keyframes preload-flip {
    0% {
        -o-transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        -o-transform: rotateY(360deg) rotateZ(-60deg);
    }
}

@-ms-keyframes preload-flip {
    0% {
        -ms-transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        -ms-transform: rotateY(360deg) rotateZ(-60deg);
    }
}

@-webkit-keyframes preload-flip {
    0% {
        -webkit-transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        -webkit-transform: rotateY(360deg) rotateZ(-60deg);
    }
}

@-moz-keyframes preload-flip {
    0% {
        -moz-transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        -moz-transform: rotateY(360deg) rotateZ(-60deg);
    }
}
