.slick-prev:before, .slick-next:before {
    color: blue !important;
}

.structure-info {
    text-align: right;
}

.note-top {
    text-align: center;
    background: #fde073;
    line-height: 2.5;
    margin-bottom: 20px;
}
